
.node {
    /* width: 20px; */
    /* height: 20px; */
    /* background-color: white; */
    outline: 1px solid rgba(144, 175, 175, 0.75);
    display: inline-block;
    margin: 0.25rem;
    padding: 0.75rem;
    }

.grid {
    text-align: center;
}